eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 9115

spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://gitee.com/myxyl/config-repo
          username: 15118042153@163.com
          password: 159357xuyalin
          basedir: D:\Java\basedir
            